<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 8</b></center>    
<pre>

# User Defined Function

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [5]:
def Calculate_BMI(mass, height):
    if height <= 0 or mass <=0:
        print("Data Not Valid")
    return mass/height**2

print("BMI is", Calculate_BMI(50,5))

BMI is 2.0

### 02) Write a function that add first n numbers.

In [8]:
def Add_n(n):
    return n*(n+1)//2 if n>0 else 0
Add_n(10)

55

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [10]:
def is_prime(n):
    if n < 2:
        return 0
    for i in range(2, int(n**0.5)+1):
        if n%i == 0:
            return 0
    return 1
is_prime(4)

0

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [15]:
def is_prime_list(a,b):
    def is_prime(n):
        if n < 2:
            return False
        for i in range(2, int(n**0.5)+1):
            if n%i == 0:
                return False
        return True
    return [i for i in range(a, b+1) if is_prime(i)]
    
is_prime_list(5,30)

[5, 7, 11, 13, 17, 19, 23, 29]

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [18]:
def is_palindrome(n):
    return n == n[::-1]
is_palindrome("aba")

True

### 06) Write a function that returns the sum of all the elements of the list.

In [19]:
def sum_of_list(li):
    return sum(li)
sum_of_list([1,3,6,2,3,4,6])

25

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [21]:
def sum_of_tupleList(tuple_li):
    return sum(i[0] for i in tuple_li)
sum_of_tupleList([(1,2,3),(2,3,4),(3,4,1)])

6

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [24]:
def fibonacci(n):
    if n <= 0:
        print("N must be +ve")
    if n == 1:
        return 0
    if n == 2:
        return 1
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(8)

13

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [26]:
def dict_name(rollNo, name):
    return name.get(rollNo, "Not Found")
dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'}
dict_name(103,dict1)

'Jay'

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [27]:
def sum_score(score):
    return sum(i for i in score if i%10 == 0)
scores = [200, 456, 300, 100, 234, 678]
sum_score(scores)

600

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [29]:
def invert_dict(d):
    return {v: k for k, v in d.items()}

a = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
output = invert_dict(a)
print(output)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

### 12) Write a function to check whether the given string is Pangram or not.
#### hint: Pangram is a string containing all the characters a-z atlest once.
#### "the quick brown fox jumps over the lazy dog" is a Pangram string.

In [31]:
import string
def is_pangram(s):
    return set(string.ascii_lowercase).issubset(set(s.lower()))

sentence = "the quick brown fox jumps over the lazy dog"
print(is_pangram(sentence))

True

### 13) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [32]:
def count_case(s):
    upper = sum(1 for i in s if i.isupper())
    lower = sum(1 for i in s if i.islower())
    return upper, lower

s1 = "AbcDEfgh"
upper, lower = count_case(s1)
print(f"upper = {upper}, lower = {lower}")

upper = 3, lower = 5

### 14) Write a lambda function to get smallest number from the given two numbers.

In [34]:
small = lambda x, y: x if x < y else y

print(small(10, 20))  
print(small(30, 25))

10
25

### 15) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [36]:
names = ["John", "Disha", "Emily", "ajdjfchdvjvk", "Sophia"]

n = list(filter(lambda name: len(name) > 7, names))

print(n)

['ajdjfchdvjvk']

### 16) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [37]:
names = ["John", "Disha", "Emily", "ajdjfchdvjvk", "Sophia"]

capitalized_names = list(map(lambda name: name.capitalize(), names))

print(capitalized_names)

['John', 'Disha', 'Emily', 'Ajdjfchdvjvk', 'Sophia']

### 17) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments

In [38]:
def first_function(name, age):
    print(name, age)
first_function("Disha",20)

Disha 20

In [39]:
def greet(name, age=20):
    print(f"Hello {name}, you are {age} years old.")

greet("Charlie")  
greet("David", 22)

Hello Charlie, you are 20 years old.
Hello David, you are 22 years old.

In [40]:
def print_info(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

print_info(10, 20, 30, name="Eve", profession="Engineer")

Positional arguments: (10, 20, 30)
Keyword arguments: {'name': 'Eve', 'profession': 'Engineer'}

In [42]:
def print_info(name, age, *, country="USA", occupation="Student"):
    print(f"Name: {name}, Age: {age}, Country: {country}, Occupation: {occupation}")

print_info("Frank", 28, country="Canada", occupation="Developer")

Name: Frank, Age: 28, Country: Canada, Occupation: Developer